@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  /* colors */
  --yellow: #f4d04e;
  --white: #ffffff;
  --gray-950: #111111;
  --gray-500: #6b6b6b;

  /* fonts */
  --ff-figtree: "Figtree", system-ui, sans-serif;

  /* font-sizes */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;

  /* font-weights */
  --fw-medium: 500;
  --fw-extra-bold: 800;

  /* spacing */
  --sp-4: 0.25rem;
  --sp-8: 0.5rem;
  --sp-12: 0.75rem;
  --sp-24: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
    font-family: var(--ff-figtree);
    background-color: #f4d04e;
    color: var(--gray-950);
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
